---
layout: default
---
<!-- Lien vers les certifications -->
<div style="text-align: center; margin-bottom: 20px;">
  <a href="#certifications" style="text-decoration: none; color: inherit;">
    <i class="fas fa-certificate" style="margin-right: 5px;"></i>
    Mes Certifications
  </a>
</div>

{% include career-profile.html %}

{% unless site.data.data.sidebar.education %}
  {% include education.html %}
{% endunless %}

{% include publications.html %}

{% include experiences.html %}

{% include certifications.html %}

{% include projects.html %}

{% include oss-contributions.html %}

{% include skills.html %}
